/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Variables */
:root {
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-yellow: hsl(71, 73%, 54%);
    --clr-gray: hsl(204, 43%, 93%);
    --clr-blue: hsl(218, 22%, 67%);
}
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-gray);
    font-family: 'Karla', sans-serif;
    color: #fff;
    min-height: 100vh;
}

/* Utilities */

@keyframes ctaShake {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes boxShadow {
    0% {
        box-shadow: 0;
    }
    100% {
        box-shadow: 0px 0px 13px 7px rgba(0,0,0,0.07);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}